In [1]:
import pandas as pd
import csv
import numpy as np
import random
import pickle

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
dtype_list=pickle.load(open('type/train.pkl','rb'))

In [4]:
p=0.8

#Path where the database is
path="dataset/train_data.csv"

#reading the database
df = pd.read_csv(path,header=0, skiprows=lambda i: i>0 and random.random() > p,dtype=dtype_list,delimiter='|')

In [5]:
df.label.value_counts()

0    32369101
1     1156684
Name: label, dtype: int64

In [6]:
df1=df[df.label==1].sample(frac=1).iloc[0:1000000]

In [7]:
del df

In [8]:
p=0.1

#Path where the database is
path="dataset/train_data.csv"

#reading the database
df = pd.read_csv(path,header=0, skiprows=lambda i: i>0 and random.random() > p,dtype=dtype_list,delimiter='|')

In [9]:
df.label.value_counts()

0    4046557
1     144540
Name: label, dtype: int64

In [10]:
df0=df[df.label==0].sample(frac=1).iloc[0:1000000]

In [11]:
del df

In [12]:
dffinal=df1.append(df0, ignore_index=True)
dffinal=dffinal.sample(frac=1)

In [13]:
dffinal.head()

,label,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,spread_app_id,tags,app_first_class,app_second_class,age,city,city_rank,device_name,device_size,career,gender,net_type,residence,his_app_size,his_on_shelf_time,app_score,emui_dev,list_time,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_onlinerate,communication_avgonline_30d,indu_name,pt_d
157488,1,1218553,5596,4147,6,206,64,5,18,22,39,4,17,5,121,3,57,193,4,2,2,37,4,3,2,14,13,2,-1,-1,-1,2,6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,11,36,5
1508698,0,1252579,5372,3899,7,109,29,5,12,86,37,4,21,5,-55,3,54,141,3,2,2,34,4,3,2,12,9,3,-1,-1,-1,2,1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^1...,12,17,4
386255,1,2061138,3747,4461,7,207,17,5,17,13,37,4,21,6,-86,3,38,162,9,2,2,46,4,2,2,20,4,4,20,1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,13,17,1
1782765,0,1827641,5382,1250,6,113,60,2,21,78,23,2,23,6,-123,3,65,141,9,2,2,43,-1,-1,1,20,10,2,20,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,12,24,6
959057,1,1564262,2368,4081,7,183,60,5,17,86,37,2,21,5,-62,3,45,141,4,2,2,42,-1,-1,1,20,8,5,20,-1,-1,2,8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,10,24,2

In [14]:
dffinal.label.value_counts()

1    1000000
0    1000000
Name: label, dtype: int64

In [15]:
dffinal.reset_index(inplace=True)
dffinal.drop(columns=['index'],inplace=True)

In [16]:
dffinal.head()

,label,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,spread_app_id,tags,app_first_class,app_second_class,age,city,city_rank,device_name,device_size,career,gender,net_type,residence,his_app_size,his_on_shelf_time,app_score,emui_dev,list_time,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_onlinerate,communication_avgonline_30d,indu_name,pt_d
0,1,1218553,5596,4147,6,206,64,5,18,22,39,4,17,5,121,3,57,193,4,2,2,37,4,3,2,14,13,2,-1,-1,-1,2,6^7^8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,11,36,5
1,0,1252579,5372,3899,7,109,29,5,12,86,37,4,21,5,-55,3,54,141,3,2,2,34,4,3,2,12,9,3,-1,-1,-1,2,1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18^1...,12,17,4
2,1,2061138,3747,4461,7,207,17,5,17,13,37,4,21,6,-86,3,38,162,9,2,2,46,4,2,2,20,4,4,20,1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,13,17,1
3,0,1827641,5382,1250,6,113,60,2,21,78,23,2,23,6,-123,3,65,141,9,2,2,43,-1,-1,1,20,10,2,20,-1,-1,2,0^1^2^3^4^5^6^7^8^9^10^11^12^13^14^15^16^17^18...,12,24,6
4,1,1564262,2368,4081,7,183,60,5,17,86,37,2,21,5,-62,3,45,141,4,2,2,42,-1,-1,1,20,8,5,20,-1,-1,2,8^9^10^11^12^13^14^15^16^17^18^19^20^21^22^23,10,24,2

In [18]:
dffinal.to_csv('dataset/train_data_balance.csv',index=False)